{{ if eq .Page.Type "post" }}
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
    <section class="related-articles">
      <h2 class="related-articles__title">See Also</h2>

      <ul class="related-articles__list">
        {{ range . }}
        <li class="related-articles--container">
          <a href="{{ .RelPermalink }}" class="related-articles--item">
            {{ with .Params.eyecatch }}
            <div>
              <img src="/{{ . }}" alt="thumbnail">
            </div>
            {{ else }}
            <div>
              <img src="/no-image.jpg" alt="thumbnail">
            </div>
            {{ end }}
            <div>
              <span>{{ .Title }}</span>
              <br>
              {{ if (gt (sub .Lastmod.Unix .Date.Unix) 43200 ) }}
              <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
              </time>
              {{ else }}
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
              </time>
              {{ end }}
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}