.article {
    margin: 0 1em;

    &__title {
        font-size: 1.6rem;
        margin-bottom: .5em;

        &.-list {
            margin-bottom: 0;
            font-size: 1.4rem;
        }
    }

    &__desc {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    &__date {
        margin: 0;
        font-size: .9rem;

        &__icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: text-bottom;
        }
    }

    &__thumbnail {
        img {
            height: auto;
            width: 100%;
            max-width: 100%;
        }
    }

    &__toc {
        margin: 1.3rem auto;
        padding: .5rem;
        border: 1px solid var(--main-border-color);

        &__title {
            text-align: center;
            font-weight: bold;
            margin: .3rem auto;
        }

        ul, ol {
            padding-left: 0;
            margin-left: 1.4rem;
            list-style-type: decimal;
    
            ul, ol {
                display: none;
            }
    
            &:first-child > li > ul,
            &:first-child > li > ol {
                display: block;
                list-style-type: circle;
            }
        }
    }

    &__tags {
        margin-top: 2rem;
        text-align: right;

        ul {
            padding-left: 0;
            list-style-type: none;
        }

        li:first-child {
            display: inline-block;

            ion-icon {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
        }

        &__item {
            display: inline-block;
            margin-left: .3rem;
            padding-left: .2em;
            padding-right: .5em;
            
    
            &:first-child {
                margin-left: 0;
            }
    
            a {
                display: inline-block;
                text-decoration: none;
                text-transform: capitalize;
                padding: 1px 7px;
                border-radius: 6px;
                border: 1px solid var(--main-border-color);
            }
        }
    }
}

.article__body {
    // Headline 1-5
    h1 {
        padding-bottom: .10em;
        margin-top: 2em;
        margin-bottom: .8em;
        border-bottom: 4px solid var(--secondly-font-color);
        font-size: 1.5rem;
        line-height: 1.5;
    }

    h2 {
        padding: .25em 0 .25em .45em;
        margin-top: 1.8em;
        margin-bottom: .8em;
        border-left: 6px solid var(--secondly-font-color);
        font-size: 1.45rem;
        line-height: 1.5;
    }

    h3 {
        margin-top: 1.4em;
        margin-bottom: .8em;
        font-size: 1.36rem;
    }

    h4 {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 1.28rem;
    }

    // Typography
    p {
        line-height: 1.7;
        margin-bottom: 1.45rem;
    }

    strong {
        background: linear-gradient(transparent 70%, var(--highlight-color) 70%);
    }

    // Image
    img {
        max-width: 100%;
        vertical-align: bottom;
    }

    // Horizontal Rule
    hr {
        border: 0;

        &:before {
            content: "*\a0\a0\a0*\a0\a0\a0*";
        }
    }

    // Table
    table {
        width: 100%;
        border: 1px solid var(--main-border-color);
        border-collapse: collapse;
        margin: 1.3em 0;

        th, td {
            border: 1px solid var(--main-border-color);
            padding: .3em .5em;
        }
    }

    // Blockquote
    blockquote {
        font-style: italic;
        position: relative;
        margin: 2.5rem 0;
        margin-left: 1rem;
        padding: 0 1rem;
        border-left: 5px solid var(--body-font-color);
    }

    // Code
    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 90%;
        background-color: var(--code-background-color);
        border-radius: 3px;
    }

    // Pre
    pre {
        padding: 16px;
        overflow: auto;
        font-size: 90%;
        line-height: 1.5;
        background-color: var(--pre-background-color);
        border-radius: 5px;

        > code {
            padding: 0;
            font-size: 100%;
            background-color: transparent;
            border-radius: 0;
        }
    }
}

.single-share {
    padding: 0;
    margin: 1rem 0;
    border-top: 3px solid var(--main-border-color);
    border-bottom: 3px solid var(--main-border-color);

    &__item {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: .5rem;
        margin-left: .6rem;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        display: inline-block;
        background-color: var(--main-border-color);
        border-radius: 3px;
        padding: .4rem .55rem;
        transition: all 350ms;

        svg {
            width: 23px;
            height: 23px;
            fill: #fff;
        }

        &:hover {
            opacity: 0.7;
        }

        &.-twitter {
            background-color: #1da1f2;
        }

        &.-facebook {
            background-color: #3b5998;
        }

        &.-hatena {
            background-color: #008fde;
        }

        &.-pocket {
            background-color: #ef4056;
        }

        &.-feedly {
            background-color: #2bb24c;
        }
    }
}