//
// _pagenation.scss
// style for pagenation
//

.pager {
  text-align: center;
  margin: 2em 0;

  &__item {
    display: inline-block;
  }

  &__link {
    border: 1px solid var(--main-border-color);
    padding: .5em .8em;
    transition: all 350ms;

    &:hover {
      background-color: var(--tertiary-font-colors);
      color: var(--pager-link-color);
      text-decoration: none;
    }
  }

  .active > &__link {
    background-color: var(--tertiary-font-colors);
    color: var(--pager-link-color);
  }
}

.pager-single {
  margin: 0 1em;

  &__item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid var(--main-border-color);

    &:first-child {
      border-top: 1px solid var(--main-border-color);
    }

    &:hover {
      text-decoration: none;
      background-color: var(--pager-hover-color);
    }
  }

  &__label {
    margin: 0;
    color: var(--main-font-color);
  }

  &__title {
    margin: 0;
  }
}
